/* Color utilities */

/* Text colors */
.text-primary {
	color: var(--color-primary);
}

.text-light {
	color: var(--color-text-light);
}

.text-muted {
	color: var(--color-text-muted);
}

.text-emphasis {
	color: var(--color-text-emphasis);
}
