/* Flexbox utilities */

/* Flex container */
.flex {
	display: flex;
}

/* Flex direction */
.flex-col {
	flex-direction: column;
}

/* Shorthand */
.flex-1 {
	flex: 1 1 0%;
}

/* Justify content */
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}

/* Align items */
.items-center {
	align-items: center;
}
.items-baseline {
	align-items: baseline;
}

/* Responsive utilities */
@media (--sm) {
	.sm\:flex-row {
		flex-direction: row;
	}
	.sm\:justify-between {
		justify-content: space-between;
	}
	.sm\:items-center {
		align-items: center;
	}
}
