/* Box Shadow utilities */

.shadow-xs {
	box-shadow: var(--shadow-xs);
}
.shadow-sm {
	box-shadow: var(--shadow-sm);
}
.shadow {
	box-shadow: var(--shadow);
}
.shadow-md {
	box-shadow: var(--shadow-md);
}
.shadow-lg {
	box-shadow: var(--shadow-lg);
}
.shadow-xl {
	box-shadow: var(--shadow-xl);
}
.shadow-none {
	box-shadow: none;
}

/* Hover shadows */
.hover\:shadow-xs:hover {
	box-shadow: var(--shadow-xs);
}
.hover\:shadow-sm:hover {
	box-shadow: var(--shadow-sm);
}
.hover\:shadow:hover {
	box-shadow: var(--shadow);
}
.hover\:shadow-md:hover {
	box-shadow: var(--shadow-md);
}
.hover\:shadow-lg:hover {
	box-shadow: var(--shadow-lg);
}
.hover\:shadow-xl:hover {
	box-shadow: var(--shadow-xl);
}
.hover\:shadow-none:hover {
	box-shadow: none;
}

/* Responsive */
@media (--sm) {
	.sm\:shadow-xs {
		box-shadow: var(--shadow-xs);
	}
	.sm\:shadow-sm {
		box-shadow: var(--shadow-sm);
	}
	.sm\:shadow {
		box-shadow: var(--shadow);
	}
	.sm\:shadow-md {
		box-shadow: var(--shadow-md);
	}
	.sm\:shadow-lg {
		box-shadow: var(--shadow-lg);
	}
	.sm\:shadow-xl {
		box-shadow: var(--shadow-xl);
	}
	.sm\:shadow-none {
		box-shadow: none;
	}
}

@media (--md) {
	.md\:shadow-xs {
		box-shadow: var(--shadow-xs);
	}
	.md\:shadow-sm {
		box-shadow: var(--shadow-sm);
	}
	.md\:shadow {
		box-shadow: var(--shadow);
	}
	.md\:shadow-md {
		box-shadow: var(--shadow-md);
	}
	.md\:shadow-lg {
		box-shadow: var(--shadow-lg);
	}
	.md\:shadow-xl {
		box-shadow: var(--shadow-xl);
	}
	.md\:shadow-none {
		box-shadow: none;
	}
}

@media (--lg) {
	.lg\:shadow-xs {
		box-shadow: var(--shadow-xs);
	}
	.lg\:shadow-sm {
		box-shadow: var(--shadow-sm);
	}
	.lg\:shadow {
		box-shadow: var(--shadow);
	}
	.lg\:shadow-md {
		box-shadow: var(--shadow-md);
	}
	.lg\:shadow-lg {
		box-shadow: var(--shadow-lg);
	}
	.lg\:shadow-xl {
		box-shadow: var(--shadow-xl);
	}
	.lg\:shadow-none {
		box-shadow: none;
	}
}

@media (--xl) {
	.xl\:shadow-xs {
		box-shadow: var(--shadow-xs);
	}
	.xl\:shadow-sm {
		box-shadow: var(--shadow-sm);
	}
	.xl\:shadow {
		box-shadow: var(--shadow);
	}
	.xl\:shadow-md {
		box-shadow: var(--shadow-md);
	}
	.xl\:shadow-lg {
		box-shadow: var(--shadow-lg);
	}
	.xl\:shadow-xl {
		box-shadow: var(--shadow-xl);
	}
	.xl\:shadow-none {
		box-shadow: none;
	}
}
